@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 4px;  /* Width of the scrollbar */
    height: 1px; /* Height of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;  /* Background of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(7 89 133);  /* Color of the scrollbar thumb */
    border-radius: 4px;  /* Rounded corners for the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(7 89 133);  /* Color of the scrollbar thumb on hover */
  }
body{
    margin: 0%;
    padding: 0%;
}
.Carousel{
    width: 1200px;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom:50px;
}
.carousel-button {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .carousel-button2 {
    position: absolute;
    bottom: 320px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .carousel-button3{
    position: absolute;
    bottom: 100px;
    left: 29%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000 ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  .carousel-button:hover {
    background-color:gray;
  }
  
  .carousel-button3:hover {
    background-color:gray;
  }
  .carousel-button2:hover {
    background-color:gray;
  }
.Carousel .slide{
    background: none;
}
.header{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: rgb(186 230 253);
    justify-content: center;
    
}
.h3{
    text-transform: uppercase;
    margin: 5px;
    text-decoration: none;
    color: black;

}
.h3img{
    padding-left: 5px;
    padding-top: 4px
}
.h22{
    width: 150px;
    margin-left: 190px;
    padding-top: 5%;
    font-size: 100px;
    text-transform: uppercase;


}

.oswald-bold {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:1000;
    font-style: normal;
  }
  .abc{
    background-image: url('/5153829.jpg');
    background-size: cover;
    
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;  
    padding-left: 15%;
  }
.Register {
    padding: 20px;
    height: 400px; /* Adjust height as needed */
    display: flex;
    flex-direction: column; /* Stack inputs vertically */
    justify-content: flex-end;
    align-items: center;
    background-color:  rgba(240, 240, 240, 0.3);
    
    width: 300px; /* Adjust width as needed */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Soft shadow */
    margin-right: 250px;
    margin-top: 10%;

  }
  .BG-Image{
    
    background-image: url('/5172658.jpg'); /* Use a relative path from the public directory */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  }
  .Login{
    padding: 20px;
    height: 270px; /* Adjust height as needed */
    display: flex;

    flex-direction: column; /* Stack inputs vertically */
    justify-content: flex-end;
    align-items: center;
    background-color:  rgba(240, 240, 240, 0.3); /* Light gray background */
    width: 300px; /* Adjust width as needed */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Soft shadow */
    margin-right: 50px;
  }
  .Login input::placeholder {
    color: #fff;
    text-transform: uppercase;
    font-size:medium; /* Placeholder text color */
    opacity: 1; /* Ensure the opacity is set to 1 for consistent color display across browsers */
  }
  .Login h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }

  .Login input{
    width: 90%;
    padding: 10px;
  
    color: #000;
    background-color:  rgba(240, 240, 240, 0.3);
    margin: 5px 0; /* Adjust vertical margin */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 24px; /* Rounded corners */
    font-size: 16px; /* Adjust font size */

  }
  .Login p{
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  .Login .Links{
    color: white;
    padding-left: 0;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }
  .Login button:hover{
    background-color:  rgba(240, 240, 240, 0.1) 
  }
  .Login button{
    width: 97%;
    padding: 10px;
    margin: 10px 0; /* Adjust vertical margin */
    background-color: #fff; /* Blue button color */
    color: black;
    border: none;
    border-radius: 24px; /* Rounded corners */
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px; /* Adjust font size */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  .Register input {
    width: 90%;
    padding: 10px;
    margin: 5px 0; /* Adjust vertical margin */
    background-color:  rgba(240, 240, 240, 0.3);
    
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 24px; /* Rounded corners */
    font-size: 16px; /* Adjust font size */

  }
  
  .Register button {
    width: 97%;
    padding: 10px;
    margin: 10px 0; /* Adjust vertical margin */
    background-color: #007bff; /* Blue button color */
    color: white;
    border: none;
    border-radius: 24px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  .Register button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .button{
    width: 50px;
    padding: 5px;
    margin-left: 10px; /* Adjust vertical margin */
    background-color: #007bff; /* Blue button color */
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    font-size: 10px; /* Adjust font size */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  .Register p{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }
  .Links{
    color: #000;
    text-decoration: none;
  }
  .header{
    text-transform: uppercase
  }
  .Cards{
    display: flex;
    background-color: white;
    justify-content: center;
    margin: 5%;
    height: 535px;
    width: 70%;
  }
  .Card1{
    
    margin-left: 20%;
    display: flex;
    flex-direction: column;
  }
  .card1 {
    display: flex;
    margin: 10px;
    height: 250px;
    width: 95%;
    border-radius: 10px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}
.card2{
  display: flex;
  margin: 10px;
  height: 250px;
  width: 95%;
  margin-right: 0;
  border-radius: 10px;
  border: 1px solid white;
  background-color: black;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;

}
.card2 img{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  .card1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
  .card5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  }
  .card-content {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white; /* Adding a background to make the text more visible */
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; /* Removes underline from the link */
    z-index: 1; /* Ensures the text is above the image */
    pointer-events: auto; /* Ensures the link is clickable */
}
.card4{
  display: flex;
    margin: 10px;
    height: 250px;
    width: 140%;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}
.card5{
  display: flex;
  margin: 10px;
  height: 250px;
  width: 140%;
  border-radius: 10px;
  border: 1px solid white;
  background-color: black;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;

}
.card1:hover .card-content  {
    opacity: 1;
    
}
.card4:hover .card-content  {
  opacity: 1;
  
}
.card5:hover .card-content  {
  opacity: 1;
  
}

.card2:hover .card-content{
  opacity: 1;
  
}
.card3:hover .card-content{
  opacity: 1;
  
}
.card2 img:hover{
  transform: scale(1.1);
  filter: brightness(0.5);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);

}
.card5 img:hover{
  transform: scale(1.1);
  filter: brightness(0.5);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);

}
.card4 img:hover{
  transform: scale(1.1);
  filter: brightness(0.5);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);

}
  .card1 img:hover{
    transform: scale(1.1);
    filter: brightness(0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  }
  .card1:hover{
    transform: none; 
  }
  .card3:hover{
    transform: none;
  }
  .card4:hover{
    transform: none;
  }
  .card4:hover{
    transform: none;
  }
  .card3 img:hover{
    transform: scale(1.1);
    filter: brightness(0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  }
  .card3{
    display: flex;
    margin: 10px;
    height: 510px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid white;
    background-color: black;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
  }
  .card3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 
  }
  .card3 .card-content{
    padding-bottom: 20%
  }
  .ff{
    text-decoration: none;
  }
  .ff:hover{
    text-decoration: underline;
    color: white;
  }
  .Social {
    color: white;
    width: 500px;
  }
  .Social h3{
    text-transform: uppercase;
    padding-left: 200px;
    padding-top: 16px;
  }
  .Social img{
    width: 30px;
    margin: 5px;
  }
  .Twitter{
    
    padding-left: 35%;
  }
  .Footer{
    background-color: rgb(7 89 133);
    height: 300px;    
    display: flex;
  }
  .Title{
    padding-top: 5%;
    padding-left: 10%;
  }
  .Title h1{
    padding: 0px;
    text-transform: uppercase;
    color: white
  }
  .p{ 
    font-size:large;
    margin-top: 0;
  }
  .Ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
    margin-left: 60%; 
    
  }
  li{
    text-decoration: none;

  
    flex-direction: column;
    width: 20%;
    margin: 10px;
    font-size:  large;
    text-transform: uppercase;
    color: white
  }
  .List h3{
    width: 20%;
    color: white;
    text-transform: uppercase
  }
  .containers{
    display: flex;
    flex-direction: column;
    padding-left: 25%;
    justify-content: center;
    text-align: center;
    height: fit-content;
    padding-bottom: 30px;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; /* Adjust the gap as needed */
    width: fit-content; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  .containers h1{
    display: flex; 
    padding-top: 10px; 
    padding-right: 30%;
    justify-content: center;
    text-transform: uppercase;
  }
  .product-Cards{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
    margin: 30px;
    
    height: fit-content;
  }
  .product-Cards img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    object-fit: cover;
    
    border-radius: 10px;
    width:200px;
  }
  .product-Cards  h2{
    width: 200px
  }
  .product-Cards h4{
    width: fit-content;
    margin-top: 10px;
    
  }
  .product-Cards button{

    padding: 10px 20px;
    font-size: 16px;
    background-color:#0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  .inner-category button{

    padding: 10px 20px;
    font-size: 16px;
    background-color:#0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .category{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .inner-category{
    display: flex;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    height:fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    margin: 30px;
  }
  .inner-category img{
    width: 200px;
    display: flex;
    
    border-radius: 10px;
    flex-direction: row;
    object-fit: cover
  }
  .leftMenu{
    height:fit-content ;
    margin: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 310px
  }
  .leftMenu h3{
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 10px;
  }
  .leftMenu input{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px
  }
  .leftMenu button{
    padding: 9px;
    margin-top: 11px;
    margin-right: 2px;
     
  }
  .innerCategory{
    width: fit-content;
    margin-left: 30px;
  }
  .inner-category h5{
    display: flex;
    flex-direction: row
  }
  .productMenu{
    display: flex;
    flex-direction: row
  }
  .productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px; /* Adjust the gap as needed */
    width: fit-content;
  }
  
  .productItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-align: center;
    margin: 30px;
    border-radius: 10px;
    background-color: #fff;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  .productItem img{
    
    object-fit: cover;
    margin: 10px;
    width: 300px;
  }
  .productItem button{
    padding: 10px 20px;
    font-size: 16px;
    background-color:#0056b3 ;
    color: white;
    float:bottom;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .OrderContainer{
    display: flex;
    height: fit-content;
  }
  .OrderImage{
    display: flex;
    margin: 7%;

    height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: fit-content;
  }
  .OrderDetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4%;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: fit-content;
  }
  .OrderDetail h3{
    margin: 30px;
  }
  .OrderDetail button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color:#000 ;
    color: white;
    float:bottom;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .OrderImage img{
    border-radius: 10px;
    width: 350px;
    object-fit: cover
  }
  .OrderDetail input{
    width: 30px
  }
  .Cartcontainer{
    height: fit-content;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  }
  .Cartcontainer button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color:#0056b3 ;
    color: white;
    float:bottom;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  .Checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.CheckoutForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:10px;
  text-transform: uppercase;
}
.CheckoutForm button{
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color:#0056b3 ;
  color: white;
  float:bottom;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 

}
.CheckoutForm h2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items:flex-start;
}
.CheckoutForm input{
  margin: 10px;
}
.cs{
  padding: 50px;
}
.cid{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 40%;
  width: fit-content;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.cid h1 {
  text-align: center;
  text-transform: uppercase;
}
.cid h2{
  text-align: center;
  text-transform: uppercase;
}

  .Cartc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: fit-content;
    margin: 40px;
    padding: 30px;
    margin-left: 110px;
  }
  .cartDetail{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .cartDetail button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color:crimson ;
    color: white;
    float:bottom;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  .name{
    width: 300px  ;
  }
  .cartDetail h1{

    margin: 40px;
  }
  .cartImage img{
    width: 200px;
    object-fit: cover
  }
@import url('./App.css');
@import url('./components/navbar.css');